<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <!---center--->
        <h1 style="position: fixed; top: 0%; width: 30%; left: 35%;">Multisnake Server Interface</h1>
        <p style="position:fixed; top: 7%; width: 30%; left: 35%;">This Interface shows Information about the Server.</p>

        <div style="position: fixed; height: 9%; top: 13%; left: 35%; border: 1px solid #000000; border-radius: 5px; display: block; padding: 10px 10px; width: 30%;">
            <label style="position: absolute;height: 5%; left: 10%; width: 40%; text-align: right;">Server IP: </label><label style="position: absolute; color: #00aa00; left: 50%">126.35.35.6</label><br>
            <label style="position: absolute;height: 5%; left: 10%; width: 40%; text-align: right;">Server Port: </label><label style="position:absolute; left: 50%; color: #00aa00;">10000</label><br>
            <label style="position: absolute;height: 5%; left: 10%; width: 40%; text-align: right;">Server Thumbnail Port: </label><label style="position: absolute;color: #00aa00; left: 50%;">10001</label>
        </div>
    <!--/center-->
</body>
</html>